.sidebar {
    margin-top: 80px;
    height: 100vh;
    width: 250px;
    position: fixed;
    background-color: rgb(255, 255, 255);
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    padding: 0.5rem 0;
    cursor: pointer;
}

.sidebar ul li:hover {
    background-color: #444;
}
/* .sidebar {
    width: 200px; 
    background-color: #e90707; 
    padding: 16px;
  }
   */
  .sidebar .MuiListItem-button {
    padding: 16px;
  }
  
  .sidebar .MuiListItemText-primary {
    font-size: 16px;
    font-weight: bold;
    color: #333; /* Example color, customize as needed */
  }